@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}

.current-lang {
  background-color: black;
  color: white;
  padding: 5px;
}

.bg-welcome {
  background: rgba(0, 0, 0, .65) url('../public/images/bg.jpg');
  height: 100vh;
}

.welcome-svg {
  top: 25%;
  max-width: 75%;
  left: 10%;
}

@media screen and (max-width: 640px) {
  .welcome-svg {
    top: 33%;
    left: 13%;
  }
}
@media screen and (max-width: 1024px) {
  .welcome-svg {
    top: 20%;
    left: 19%;
  }
}