@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}
header {
  height: 125px;
}
.current-lang {
  background-color: black;
  color: white;
  padding: 5px;
}

.bg-welcome {
  background: rgba(0, 0, 0, .65) url('../public/images/bg.jpg');
  background-size: cover;
  height: 100vh;
}

.welcome-svg {
  top: 25%;
  max-width: 75%;
  left: 10%;
}
.portfolio-container {
  width: 33%;
}
.hoverable-informations {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.776);
  opacity: 0;
}

@media screen and (max-width: 640px) {
  .welcome-svg {
    top: 33%;
    left: 13%;
  }
  .portfolio-container {
    width: 85%;
  }
  .hoverable-informations{
    opacity: 1;
  }
}
@media screen and (max-width: 1024px) {
  .welcome-svg {
    top: 20%;
    left: 19%;
  }
  .portfolio-container {
    width: 66%;
  }  
  .hoverable-informations{
    opacity: 1;
  }
  .contact-block{
    width: 80%;
    margin: auto;
    padding-top: 3rem;
  }

}
@media screen and (min-width: 640px) and (max-width: 1024px) {
  .contact-block {
    position: absolute;
    top: 50%;
    right: 11%;
  }
}
@media screen and (min-width: 1024px) {
  .contact-block {
    position: absolute;
    top: 50%;
    right: 10%;
  }
}
.hoverable-informations:hover{
  opacity: 1;
}
.rotated-text {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

.dark-image {
  -webkit-filter: brightness(30%);
}
.dark-image:hover {
  -webkit-filter: brightness(100%);
}

.z-negative {
  z-index: -1;
}

.active {
  border-bottom: 2px solid black;
}

.bg-contact {
  width: 100vw;
  height: 100%;
  position: relative;
}

.email-text {
  border-bottom: 1px solid black;
  cursor: pointer;
}